/*

Synthwave ‘84 Syntax (c) Suru++ Project
Original theme - Suru++ Synthax

*/

/* Background */ 
.highlight
{
 background-color: rgb(38, 35, 53);
 border-radius: 10px; 
 color: white;
 margin-bottom: 10px;
 margin-top: 10px;  
 padding: 5px;

 background-clip: padding-box;
 border: solid 5px transparent;
 box-sizing: border-box;
 position: relative;
}

.highlight:before 
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #FFF951 25%, #FC28A8);
}

/* Other */ 
.highlight .x
{
}

/* Error */ 
.highlight .err
{
 background-color: #1e0010; 
 color: #960050;
}

/* LineTableTD */ 
.highlight .lntd
{
 border: 0; 
 margin: 0;
 padding: 0; vertical-align: top;
}

/* LineTable */ 
.highlight .lntable
{
 border: 0; border-spacing: 0;
 display: block; 
 margin: 0;
 overflow: auto;
 padding: 0;
 width: auto;
}

/* LineHighlight */ 
.highlight .hl
{
 background-color: #ffffcc; 
 display: block;
 width: 100%;
}

/* LineNumbersTable */ 
.highlight .lnt
{
 color: #7f7f7f; 
 margin-right: .4em;
 padding: 0 .4em 0 .4em;
}

/* LineNumbers */ 
.highlight .ln
{
 color: #7f7f7f; 
 margin-right: .4em;
 padding: 0 .4em 0 .4em;
}

/* Keyword */ 
.highlight .k
{ 
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

.highlight .language-css .k
{ 
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5572, 0 0 35px #21272472;
}

.highlight .language-js .k, 
.highlight .language-python .k,
.highlight .language-ruby .k
{ 
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}


/* KeywordConstant */ 
.highlight .kc
{ 
  color: #f97e72;
}
.highlight .language-css .kc
{ 
  color: color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c72, 0 0 5px #fc1f2c72, 0 0 25px #fc1f2c72;
}

/* KeywordDeclaration */ 
.highlight .kd
{ 
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}

/* KeywordNamespace */ 
.highlight .kn
{ 
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}

/* KeywordPseudo */ 
.highlight .kp
{ 
  color: #66d9ef;
}

.highlight .language-css .kp
{ 
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5572, 0 0 35px #21272472;
}

.highlight .language-ruby .kp
{ 
  color: #f97e72;
}

/* KeywordReserved */ 
.highlight .kr
{ 
  color: #66d9ef;
}

/* KeywordType */ 
.highlight .kt
{ 
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5572, 0 0 35px #21272472;
}

/* Name */ 
.highlight .n
{
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}

.highlight .language-css .n
{
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5572, 0 0 35px #21272472;
}

.highlight .language-python .n,
.highlight .language-ruby .n
{
  color: #f92aad;
  font-style: italic;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

/* NameAttribute */ 
.highlight .na
{ 
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf972, 0 0 5px #03edf972, 0 0 8px #03edf972;;
}

/* NameBuiltin */ 
.highlight .nb
{
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf972, 0 0 5px #03edf972, 0 0 8px #03edf972;
}

.highlight .nb
{
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}

/* NameBuiltinPseudo */ 
.highlight .bp
{
}

/* NameClass */ 
.highlight .nc
{ 
  color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c72, 0 0 5px #fc1f2c72, 0 0 25px #fc1f2c72;
}

.highlight .language-css .nc
{
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}

/* NameConstant */ 
.highlight .no
{ 
  color: #66d9ef;
}

/* NameDecorator */ 
.highlight .nd
{ 
  color: #a6e22e;
}

/* NameEntity */ 
.highlight .ni
{
}

/* NameException */ 
.highlight .ne
{ 
  color: #a6e22e;
}

/* NameFunction */ 
.highlight .nf
{ 
  color: #fdfdfd;
    text-shadow: 0 0 2px #001716, 0 0 3px #03edf972, 0 0 5px #03edf972, 0 0 8px #03edf972;
}

/* NameFunctionMagic */ 
.highlight .fm
{
}

/* NameLabel */ .highlight .nl
{
}

/* NameNamespace */ 
.highlight .nn
{
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}

/* NameOther */ 
.highlight .nx
{ 
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf972, 0 0 5px #03edf972, 0 0 8px #03edf972;
}

/* NameProperty */ 
.highlight .py
{
}

/* NameTag */ 
.highlight .nt
{ 
  color: #f92672;
}

/* NameVariable */ 
.highlight .nv
{
}

/* NameVariableClass */ 
.highlight .vc
{
}

/* NameVariableGlobal */ 
.highlight .vg
{
}

/* NameVariableInstance */ 
.highlight .vi
{
}

/* NameVariableMagic */ 
.highlight .vm
{
}

/* Literal */ 
.highlight .l
{ 
  color: #2ee2fa;
}

/* LiteralDate */ 
.highlight .ld
{ 
  color: #ff8b39;
}

/* LiteralString */ 
.highlight .s
{ 
  color: #ff8b39;;
}

/* LiteralStringAffix */ 
.highlight .sa
{ 
  color: #ff8b39;
}

/* LiteralStringBacktick */ 
.highlight .sb
{ 
  color: #ff8b39;
}

/* LiteralStringChar */ 
.highlight .sc
{ 
  color: #ff8b39;
}

/* LiteralStringDelimiter */ 
.highlight .dl
{ 
  color: #ff8b39;
}

/* LiteralStringDoc */ 
.highlight .sd
{ 
  color: #ff8b39;
}

/* LiteralStringDouble */ 
.highlight .s2
{ 
  color: #ff8b39;
}

.highlight .language-python .s2
{ 
  color: #848bbd;
  font-style: italic;
}

/* LiteralStringEscape */ 
.highlight .se
{ 
  color: #2ee2fa;
}

/* LiteralStringHeredoc */ 
.highlight .sh
{ 
  color: #ff8b39;
}

/* LiteralStringInterpol */ 
.highlight .si
{ 
  color: #ff8b39;
}

/* LiteralStringOther */ 
.highlight .sx
{ 
  color: #ff8b39;
}

/* LiteralStringRegex */ 
.highlight .sr
{ 
  color: #ff8b39;
}

/* LiteralStringSingle */ 
.highlight .s1
{ 
  color: #ff8b39;
}

/* LiteralStringSymbol */ 
.highlight .ss
{ 
  color: #ff8b39;
}

/* LiteralNumber */ 
.highlight .m
{ 
  color: #2ee2fa;
}

/* LiteralNumberBin */ 
.highlight .mb
{ 
  color: #2ee2fa;
}

/* LiteralNumberFloat */ 
.highlight .mf
{ 
  color: #2ee2fa;
}

/* LiteralNumberHex */ 
.highlight .mh
{ 
  color: #2ee2fa;
}

/* LiteralNumberInteger */ 
.highlight .mi
{ 
  color: #2ee2fa;
}

.highlight .language-css .mi
{ 
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

.highlight .language-python .mi, .highlight .language-ruby .mi
{ 
  color: #f97e72;
}

/* LiteralNumberIntegerLong */ 
.highlight .il
{ 
  color: #2ee2fa;
}

/* LiteralNumberOct */ 
.highlight .mo
{ 
  color: #2ee2fa;
}

/* Operator */ 
.highlight .o
{ 
  color: #bbbbbb;
}

.highlight .language-bash .o
{ 
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

.highlight .language-js .o
{ 
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}

.highlight .language-java .o
{ 
  color: orchid;
}

.highlight .language-ruby .o
{ 
  color: rgba(255, 255, 255, 0.93);
}

/* OperatorWord */ 
.highlight .ow
{ 
  color: #f92672;
}

/* Punctuation */ 
.highlight .p
{
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0572, 0 0 2px #f39f0572;
}

/* Comment */ 
.highlight .c
{ 
  color: #848bbd;
  font-weight: bold;
}

/* CommentHashbang */ 
.highlight .ch
{ 
  color: #848bbd;
  font-weight: bold;
}

/* CommentMultiline */ 
.highlight .cm
{ 
  color: #848bbd;
  font-weight: bold;
}

/* CommentSingle */ 
.highlight .c1
{ 
  color: #848bbd;
  font-weight: bold;
}

.highlight .language-bash .c1, 
.highlight .language-sh .c1
{ 
  text-shadow: none !important;
}

/* CommentSpecial */ 
.highlight .cs
{ 
  color: #848bbd;
  font-weight: bold;
}

/* CommentPreproc */ 
.highlight .cp
{ 
  color: #848bbd;
  font-weight: bold;
}

/* CommentPreprocFile */ 
.highlight .cpf
{ 
  color: #848bbd;
  font-weight: bold;
}

/* Generic */ 
.highlight .g
{
}

/* GenericDeleted */ 
.highlight .gd
{ 
  color: #f92672;
}

/* GenericEmph */ 
.highlight .ge
{ 
  font-style: italic;
}

/* GenericError */ 
.highlight .gr
{
}

/* GenericHeading */ 
.highlight .gh
{
}

/* GenericInserted */ 
.highlight .gi
{ 
  color: #a6e22e;
}

/* GenericOutput */ 
.highlight .go
{
}

/* GenericPrompt */ 
.highlight .gp
{
}

/* GenericStrong */ 
.highlight .gs
{ 
  font-weight: bold;
}

/* GenericSubheading */ 
.highlight .gu
{ 
  color: #75715e;
}

/* GenericTraceback */ 
.highlight .gt
{
}

/* GenericUnderline */ 
.highlight .gl
{
}

/* TextWhitespace */ 
.highlight .w
{
}

.highlight pre
{ 
  background: transparent !important;
}

.highlight pre code
{
  color: orchid;
}

.highlight pre code.language-css,
.highlight pre code.language-js,
.highlight pre code.language-python,
.highlight pre code.language-ruby
{ 
  color: gold;
}

.highlight pre code.language-bash, .highlight pre code.language-sh
{
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf972, 0 0 5px #03edf972, 0 0 8px #03edf972;
}

li .highlight
{ 
  text-indent: 0;
}