ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{HTTPS} Off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# 🇧🇷 Se um diretório existente for solicitado, vai para ele como ele é
# 🇬🇧 If an existing directory is requested, go to it as it is
# 🇮🇹 Se è richiesta una directory esistente, andateci così com'è
# 🇬🇧 Si un répertoire existant est demandé, accédez-y tel quel
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# 🇧🇷 Se o recurso solicitado não existir, use index.html
# 🇬🇧 If the requested resource does not exist, use index.html
# 🇮🇹 Se la risorsa richiesta non esiste, utilizzare index.html
# 🇫🇷 Si la ressource demandée n'existe pas, utilisez index.html
RewriteRule ^ /index.html

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    
    # 🇧🇷 Não reescrever ficheiros ou diretórios
    # 🇬🇧 Do not rewrite files or directories
    # 🇮🇹 Non riscrivere file o directory
    # 🇫🇷 Ne réécrivez pas les fichiers ou répertoires
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 🇧🇷 Reescrever todo o resto em index.html para permitir ligações de estado HTML5
    # 🇬🇧 Rewrite everything else in index.html to allow HTML5 status links
    # 🇮🇹 Riscrivi tutto il resto in index.html per consentire i link di stato HTML5
    # 🇫🇷 Réécrivez tout le reste dans index.html pour autoriser les liens d'état HTML5
    RewriteRule ^ index.html [L]
</IfModule>

# 🇧🇷 TORNAR COMPATÍVEL COM AS LIGAÇÕES SIMBÓLICAS
# 🇬🇧 MAKE IT COMPATIBLE WITH SYMBOLIC LINKS
# 🇮🇹 RENDILO COMPATIBILE CON COLLEGAMENTI SIMBOLICHE
# 🇫🇷 RENDRE-LE COMPATIBLE AVEC LES CONNEXIONS SYMBOLIQUES

Options +FollowSymLinks

# 🇧🇷 COMEÇO EXIGIDO PARA WEBFONTS E IMAGENS
# 🇬🇧 START REQUIRED FOR WEBFONTS AND IMAGES
# 🇮🇹 INIZIO NECESSARIO PER WEBFONTS E IMMAGINI
# 🇫🇷 DEMARRAGE REQUIS POUR LES WEBFONTS ET LES IMAGES

AddType application/vnd.ms-fontobject  eot
AddType application/x-font-woff        woff
AddType font/eot .eot
AddType font/otf .otf
AddType font/opentype                  otf
AddType font/truetype                  ttf
AddType font/ttf .ttf
AddType font/woff .woff

AddType image/gif .gif .GIF
AddType image/jpeg .jpeg .jpg .jpe .JPG
AddType image/png .png .PNG
AddType image/svg+xml svg
AddType image/svg+xml svgz
AddType image/tiff .tiff .tif

<FilesMatch “.(ttf|otf|eot|woff|jpeg|jpg|png|svg)$”>
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin “*”
  </IfModule>
</FilesMatch>

<FilesMatch "\.(ttf|otf|eot|woff|jpeg|jpg|png|svg)$" >
  SetOutputFilter DEFLATE
</FilesMatch>

# 🇧🇷 FIM EXIGIDO PARA WEBFONTS
# 🇬🇧 END REQUIRED FOR WEBFONTS
# 🇮🇹 FINE RICHIESTA PER WEBFONTS
# 🇫🇷 FIN REQUISE POUR LES WEBFONTS
