# {{ T "description" }}

{{ T "index_1" }}

{{ T "index_2" }}


# {{ T "installation" }}

## {{ T "indep_distro" }}

{{ T "index_3" }}

### {{ T "installing" }}

```bash
wget -qO- https://git.io/fhQdI | sh
```

{{ T "index_4" }}

```bash
wget -qO- https://git.io/fhQdI | env PREFIX=/usr/local sh
```

### {{ T "uninstalling" }}

```bash
wget -qO- https://git.io/fhQdI | env uninstall=true sh
```

# {{ T "changings" }}

{{ T "index_5" }}

- {{ T "index_6" }}
  ```sh
  # Suru++ 25
  suru-plus-folders -l --theme Suru++
  # Suru++ Ubuntu
  suru-plus-folders -l --theme Suru++-Ubuntu
  ```
- {{ T "index_7" }}
  ```sh
  # Suru++ 25
  suru-plus-folders -C brown --theme Suru++
  # Suru++ Ubuntu
  suru-plus-folders -l --theme Suru++-Ubuntu
  ```
- {{ T "index_8" }}
  ```sh
  # Suru++ 25
  suru-plus-folders -D --theme Suru++
  # Suru++ Ubuntu
  suru-plus-folders -l --theme Suru++-Ubuntu
  ```
- {{ T "index_9" }}
  ```sh
  suru-plus-folders -Ru
  ```

## {{ T "advice" }}

{{ T "index_10" }}

{{ T "index_11" }}