:root 
{
	--suru-plus-altered-carbon-solid-1:  #F8FAFA;
	--suru-plus-altered-carbon-solid-2:  #F9F9F9;
	--suru-plus-altered-carbon-solid-3:  #EDEEEE;
	--suru-plus-altered-carbon-solid-4:  #E9EFEF;
	--suru-plus-altered-carbon-solid-5:  #E0E1E1;
	--suru-plus-altered-carbon-solid-6:  #D8E3E3;
	--suru-plus-altered-carbon-solid-7:  #D2D3D3;
	--suru-plus-altered-carbon-solid-8:  #C7D6D6;
	--suru-plus-altered-carbon-solid-9:  #C2C4C4;
	--suru-plus-altered-carbon-solid-10: #B4C8C8;
	--suru-plus-altered-carbon-solid-11: #B1B3B3;
	--suru-plus-altered-carbon-solid-12: #9EB8B8;
	--suru-plus-altered-carbon-solid-13: #A9A79E;
	--suru-plus-altered-carbon-solid-14: #9DA0A0;
	--suru-plus-altered-carbon-solid-15: #85A6A6;
	--suru-plus-altered-carbon-solid-16: #1CCB83;
	--suru-plus-altered-carbon-solid-17: #45A4B3;
	--suru-plus-altered-carbon-solid-18: #868A8A;
	--suru-plus-altered-carbon-solid-19: #689090;
	--suru-plus-altered-carbon-solid-20: #74796D;
	--suru-plus-altered-carbon-solid-21: #686D6D;
	--suru-plus-altered-carbon-solid-22: #427474;
	--suru-plus-altered-carbon-solid-23: #A53520;
	--suru-plus-altered-carbon-solid-24: #1A676C;
	--suru-plus-altered-carbon-solid-25: #A0311E;
	--suru-plus-altered-carbon-solid-26: #035D67;
	--suru-plus-altered-carbon-solid-27: #3A4141;
	--suru-plus-altered-carbon-solid-28: #553229;
	--suru-plus-altered-carbon-solid-29: #004853;
	--suru-plus-altered-carbon-solid-30: #044747;
	--suru-plus-altered-carbon-solid-31: #014445;
	--suru-plus-altered-carbon-solid-32: #013839;
	--suru-plus-altered-carbon-solid-33: #0F3228;
	--suru-plus-altered-carbon-solid-34: #342218;
	--suru-plus-altered-carbon-solid-35: #03333D;
	--suru-plus-altered-carbon-solid-36: #0D2C33;
	--suru-plus-altered-carbon-solid-37: #002F32;
	--suru-plus-altered-carbon-solid-38: #012B2E;
	--suru-plus-altered-carbon-solid-39: #011E21;
	--suru-plus-altered-carbon-solid-40: #021D22;
	--suru-plus-altered-carbon-solid-41: #001C23;
	--suru-plus-altered-carbon-solid-42: #051417;
	--suru-plus-altered-carbon-solid-43: #0E0E0F;
}