:root 
{
	--suru-plus-synthwave-84-solid-1:  #FFFFFF;
	--suru-plus-synthwave-84-solid-2:  #FEDE5D;
	--suru-plus-synthwave-84-solid-3:  #72F1B8;
	--suru-plus-synthwave-84-solid-4:  #36F9F6;
	--suru-plus-synthwave-84-solid-5:  #B6B1B1;
	--suru-plus-synthwave-84-solid-6:  #FF7EDB;
	--suru-plus-synthwave-84-solid-7:  #2EE2FA;
	--suru-plus-synthwave-84-solid-8:  #03EDF9;
	--suru-plus-synthwave-84-solid-9:  #B893CE;
	--suru-plus-synthwave-84-solid-10: #FF8B39;
	--suru-plus-synthwave-84-solid-11: #F97E72;
	--suru-plus-synthwave-84-solid-12: #848BBD;
	--suru-plus-synthwave-84-solid-13: #FE4450;
	--suru-plus-synthwave-84-solid-14: #DD5500;
	--suru-plus-synthwave-84-solid-15: #614D85;
	--suru-plus-synthwave-84-solid-16: #495495;
	--suru-plus-synthwave-84-solid-17: #444251;
	--suru-plus-synthwave-84-solid-18: #463465;
	--suru-plus-synthwave-84-solid-19: #880088;
	--suru-plus-synthwave-84-solid-20: #34294F;
	--suru-plus-synthwave-84-solid-21: #2A2139;
	--suru-plus-synthwave-84-solid-22: #262335;
	--suru-plus-synthwave-84-solid-23: #232530;
	--suru-plus-synthwave-84-solid-24: #1F212B;
	--suru-plus-synthwave-84-solid-25: #241B2F;
	--suru-plus-synthwave-84-solid-26: #171520;
	--suru-plus-synthwave-84-solid-27: #08080F;
}