:root 
{
	--suru-plus-tron-solid-01: #fef9f4;
	--suru-plus-tron-solid-02: #f4fafd;
	--suru-plus-tron-solid-03: #fffadf;
	--suru-plus-tron-solid-04: #E6FFFF;
	--suru-plus-tron-solid-05: #fbf8ab;
	--suru-plus-tron-solid-06: #def6fc;
	--suru-plus-tron-solid-07: #faebdc;
	--suru-plus-tron-solid-08: #ddf1f7;
	--suru-plus-tron-solid-09: #ffef94;
	--suru-plus-tron-solid-10: #faea98;
	--suru-plus-tron-solid-11: #c6edfb;
	--suru-plus-tron-solid-12: #f7dcc3;
	--suru-plus-tron-solid-13: #c4e6f2;
	--suru-plus-tron-solid-14: #f6dc9a;
	--suru-plus-tron-solid-15: #FFE64D;
	--suru-plus-tron-solid-16: #f4dc91;
	--suru-plus-tron-solid-17: #c9dfe0;
	--suru-plus-tron-solid-18: #fce14c;
	--suru-plus-tron-solid-19: #b3e3f3;
	--suru-plus-tron-solid-20: #f3cca7;
	--suru-plus-tron-solid-21: #f5d07d;
	--suru-plus-tron-solid-22: #a8dbec;
	--suru-plus-tron-solid-23: #ecd347;
	--suru-plus-tron-solid-24: #a4d5ea;
	--suru-plus-tron-solid-25: #97d6eb;
	--suru-plus-tron-solid-26: #efb987;
	--suru-plus-tron-solid-27: #fabe45;
	--suru-plus-tron-solid-28: #dbc442;
	--suru-plus-tron-solid-29: #89cee5;
	--suru-plus-tron-solid-30: #ddb676;
	--suru-plus-tron-solid-31: #8bc7e2;
	--suru-plus-tron-solid-32: #efab3f;
	--suru-plus-tron-solid-33: #eaa462;
	--suru-plus-tron-solid-34: #6FC3DF;
	--suru-plus-tron-solid-35: #c8b33d;
	--suru-plus-tron-solid-36: #7cb9db;
	--suru-plus-tron-solid-37: #6cbed9;
	--suru-plus-tron-solid-38: #e48a35;
	--suru-plus-tron-solid-39: #e38c2d;
	--suru-plus-tron-solid-40: #b3a036;
	--suru-plus-tron-solid-41: #6ca4cb;
	--suru-plus-tron-solid-42: #61aac2;
	--suru-plus-tron-solid-43: #7b9aa2;
	--suru-plus-tron-solid-44: #bc8753;
	--suru-plus-tron-solid-45: #6a95ac;
	--suru-plus-tron-solid-46: #6194c1;
	--suru-plus-tron-solid-47: #DF740C;
	--suru-plus-tron-solid-48: #be7342;
	--suru-plus-tron-solid-49: #9a892e;
	--suru-plus-tron-solid-50: #d56d0b;
	--suru-plus-tron-solid-51: #5391a6;
	--suru-plus-tron-solid-52: #6089a9;
	--suru-plus-tron-solid-53: #5f8aa0;
	--suru-plus-tron-solid-54: #557d8a;
	--suru-plus-tron-solid-55: #bc5921;
	--suru-plus-tron-solid-56: #4a79a0;
	--suru-plus-tron-solid-57: #52778e;
	--suru-plus-tron-solid-58: #796c25;
	--suru-plus-tron-solid-59: #417383;
	--suru-plus-tron-solid-60: #a85609;
	--suru-plus-tron-solid-61: #486a81;
	--suru-plus-tron-solid-62: #3f6177;
	--suru-plus-tron-solid-63: #8d4427;
	--suru-plus-tron-solid-64: #345468;
	--suru-plus-tron-solid-65: #2b4d6c;
	--suru-plus-tron-solid-66: #2a465a;
	--suru-plus-tron-solid-67: #473f15;
	--suru-plus-tron-solid-68: #633305;
	--suru-plus-tron-solid-69: #26434d;
	--suru-plus-tron-solid-70: #213d50;
	--suru-plus-tron-solid-71: #1e3850;
	--suru-plus-tron-solid-72: #442822;
	--suru-plus-tron-solid-73: #172e3f;
	--suru-plus-tron-solid-74: #0C141F;
}