 
[submodule "temas/hugo/suru-plus-folders-site/themes/anake"]
	path = temas/hugo/suru-plus-folders-site/themes/anake
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "temas/hugo/suru-plus-folders-site/themes/zzo"]
	path = temas/hugo/suru-plus-folders-site/themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "temas/hugo/suru-plus-folders-site/themes/sk1"]
	path = temas/hugo/suru-plus-folders-site/themes/sk1
	url = https://github.com/J-Siu/hugo-theme-sk1
