{
  "arrowParens": "avoid",
  "overrides": 
  [
    {
      "files": ["*.html"],
      "options": 
      {
        "parser": "go-template"
      }
    }
  ],
  "proseWrap": "always",
  "semi": false
}
