<!-- Lado lateral esquerdo de items no telemóvel -->

<div id="SidebarLeft" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <div style="margin-bottom: 40px;"></div>
  
  {{- $currentPage := . -}}
  {{ range .Site.Menus.main -}}
    {{ $menu_item_url := .URL | relLangURL -}}
    {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
  <a class="{{ if eq $menu_item_url $page_url }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
  {{- end }}
</div>

<!-- Lado lateral inferior de idiomas no telemóvel -->

<div id="SidebarBottom" class="sidebar bottom">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNavBottom()">&times;</a>
  
  {{ range .Translations -}}
    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
  {{ end }}
</div>

<!-- Lado lateral direito de temas no telemóvel -->

<div id="SidebarRight" class="sidebar right">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNavRight()">&times;</a>
  
  {{ range .Site.Params.Themes }}
      <a class="button theme-switch" id="{{ .data }}">{{ .name }}</a>
  {{ end }}
</div>