$back: null;
$text: null;
$theme-map: null;
$tron: true;

$themes: (
  dark: (
    // Global
    anchorColour: var(--suru-plus-mavericks-bottom),
    anchorColourHover: var(--suru-plus-sunrise-2),
    backgroundColour: var(--suru-plus-dark-4),
    codeBackground: var(--suru-plus-fitdance-1-transparent04),
    codeBorderRight: none,
    codeBoxShadow: none,
    codeTabBorderBottomColour: none,
    textColour: var(--suru-plus-papirus-light-solid),

    // Main Navigator
    navBackground: var(--suru-plus-dark-4),
    navBorderImage: var(--suru-plus-mavericks-top),

    // Main Navigator – DropDown Menu
    dropdowmMenuBackground: var(--suru-plus-dark-3),
    dropdowmMenuHoverBackground: var(--suru-plus-mavericks-bottom),
    dropdowmMenuHoverTextColour: var(--suru-plus-synthwave-84-solid-20),

    // Headings
    h4Colour: var(--suru-plus-mavericks-bottom),

    // Lists
    liBeforeColour: var(--suru-plus-mavericks-bottom),

    // Table
    tableBackground: var(--suru-plus-papirus),
    tableTheadBackground: var(--suru-plus-technotronic-2),
    tableTheadTextColour: var(--suru-plus-papirus-light-solid),
    tableTbodyBorder: var(--suru-plus-tokyo-hack-6),
    tableTbodyTh: var(--suru-plus-mavericks-top),

    // Syntax Highlighting
    HighlightBg: var(--suru-plus-fitdance-2-transparent04),
    
    // Footer
    footerBackground: var(--suru-plus-dark-4),
    footerBorderImage: var(--suru-plus-mavericks-right),

    // Active Page
    activeAnchor: var(--suru-plus-mavericks-bottom),
    activeColor: var(--suru-plus-papirus-light-solid)
  ),

  synthwave-84: (
    // Global
    anchorColour: var(--suru-plus-synthwave-84-2),
    anchorColourHover: var(--suru-plus-synthwave-84-3-top),
    backgroundColour: var(--suru-plus-synthwave-84-1),
    codeBackground: rgb(38, 35, 53),
    codeBorderRight: 1px solid rgba(36, 27, 47, 0),
    codeBoxShadow: inset 0 -5px 25px #fc28a825,
    codeTabBorderBottomColour: rgba(136, 0, 136, 0.5),
    textColour: var(--suru-plus-papirus-light-solid),

    // Main Navigator
    navBackground: var(--suru-plus-synthwave-84-solid-23),
    navBorderImage: var(--suru-plus-synthwave-84-3-top),
    navTextColour: var(--suru-plus-synthwave-84-2),
    navTextHoverColour: var(--suru-plus-synthwave-84-3-top),

    // Main Navigator – DropDown Menu
    dropdowmMenuBackground: var(--suru-plus-synthwave-84-solid-20),
    dropdowmMenuBackgroundArrow: var(--suru-plus-synthwave-84-solid-20),
    dropdowmMenuHoverBackground: var(--suru-plus-synthwave-84-2),
    dropdowmMenuHoverTextColour: var(--suru-plus-synthwave-84-solid-20),
    dropdowmLineHoverTextColour: var(--suru-plus-synthwave-84-3-top),

    // Headings
    hsColour: var(--suru-plus-synthwave-84-3-top),
    h4Colour: var(--suru-plus-synthwave-84-2),

    // Lists
    liBeforeColour: var(--suru-plus-synthwave-84-1-top),

    // Table
    tableBackground: var(--suru-plus-synthwave-84-solid-23),
    tableTheadBackground: var(--suru-plus-synthwave-84-1-top),
    tableTheadTextColour: var(--suru-plus-synthwave-84-solid-22),
    tableTbodyBorder: var(--suru-plus-synthwave-84-solid-18),
    tableTbodyTh: var(--suru-plus-synthwave-84-2),
    
    // Footer
    footerBackground: var(--suru-plus-dark-4),
    footerBorderImage: var(--suru-plus-mavericks-right),

    // Active Page
    activeAnchor: var(--suru-plus-synthwave-84-2),
    activeColor: var(--suru-plus-synthwave-84-solid-22)
  ),

  cyberpunk: (
    // Global
    anchorColour: var(--suru-plus-fitdance-1-top),
    anchorColourHover: var(--suru-plus-synthwave-84-1-top),
    backgroundColour: var(--suru-plus-altered-carbon-solid-43),
    textColour: var(--suru-plus-synthwave-84-solid-4),

    // Main Navigator
    navBackground: var(--suru-plus-altered-carbon-01),
    navBorderImage: var(--suru-plus-altered-carbon-05),
    navTextHoverColour: var(--suru-plus-synthwave-84-1-top),

    // Main Navigator – DropDown Menu
    dropdowmMenuBackground: var(--suru-plus-altered-carbon-12),
    dropdowmMenuBackgroundArrow: #3A4141,
    dropdowmMenuTextColour: var(--suru-plus-altered-carbon-solid-17),
    dropdowmMenuHoverBackground: var(--suru-plus-altered-carbon-19),
    dropdowmMenuHoverTextColour: var(--suru-plus-altered-carbon-solid-13),
    dropdowmLineHoverTextColour: var(--suru-plus-synthwave-84-2-top),

    // Headings
    hsColour: var(--suru-plus-sunrise-3),
    h4Colour: var(--suru-plus-fitdance-1-top),

    // Lists
    liBeforeColour: var(--suru-plus-orange-medium-1),

    // Table
    tableBackground: var(--suru-plus-altered-carbon-solid-41),
    tableTheadBackground: var(--suru-plus-altered-carbon-05),
    tableTheadTextColour: var(--suru-plus-altered-carbon-solid-16),
    tableTbodyBorder: var(--suru-plus-altered-carbon-solid-16),
    tableTbodyTh: var(--suru-plus-altered-carbon-solid-17),
    
    // Footer
    footerBackground: var(--suru-plus-altered-carbon-01),
    footerBorderImage: var(--suru-plus-altered-carbon-16),

    // Active Page
    activeAnchor: var(--suru-plus-altered-carbon-10),
    activeColor: var(--suru-plus-altered-carbon-solid-17)
  ),

  tron: (
    // Global
    anchorColour: var(--suru-plus-tron-solid-34),
    anchorColourHover: var(--suru-plus-tron-solid-76),
    backgroundColour: var(--suru-plus-tron-solid-75),
    textColour: var(--suru-plus-tron-solid-11),

    // Main Navigator
    navBackground: var(--suru-plus-tron-01),
    navBorderImage: var(--suru-plus-tron-26-top),
    navTextColour: var(--suru-plus-tron-solid-34),
    navTextHoverColour: var(--suru-plus-tron-solid-76),

    // Main Navigator – DropDown Menu
    dropdowmMenuBackground: var(--suru-plus-tron-01),
    dropdowmMenuBackgroundArrow: #1E3850,
    dropdowmMenuTextColour: var(--suru-plus-tron-solid-34),
    dropdowmMenuHoverBackground: var(--suru-plus-tron-36),
    dropdowmMenuHoverTextColour: var(--suru-plus-tron-solid-73),
    dropdowmLineHoverTextColour: var(--suru-plus-tron-26),

    // Headings
    hsColour: var(--suru-plus-tron-solid-34),
    h4Colour: var(--suru-plus-tron-26),

    // Lists
    liBeforeColour: var(--suru-plus-tron-solid-77),

    // Table
    tableBackground: var(--suru-plus-tron-solid-74),
    tableTheadBackground: var(--suru-plus-tron-solid-71),
    tableTheadTextColour: var(--suru-plus-tron-solid-37),
    tableTbodyBorder: var(--suru-plus-tron-solid-42),
    tableTbodyTh: var(--suru-plus-tron-solid-76),
    
    // Footer
    footerBackground: var(--suru-plus-tron-solid-74),
    footerBorderImage: var(--suru-plus-tron-26),

    // Active Page
    activeAnchor: var(--suru-plus-tron-26),
    activeColor: var(--suru-plus-tron-solid-74),

    // Particular TRON
    TRONGlowTextGlobal: 0 0 5px rgba(24, 202, 230, 0.7),
    TRONGlowTableTbodyTh: 0 0 5px rgba(255, 65, 13, 0.7),
    TRONGlowAnchorColourHover: 0 0 5px rgba(255, 65, 13, 0.7),
    TRONGlowLiBeforeColour: 0 0 2px rgba(235, 154, 95, 0.7),
  ),
);

@mixin themify($themes) 
{
  @each $theme, $map in $themes 
  {
    .theme-#{$theme} 
    {
      $theme-map: () !global;
      @each $key, $submap in $map 
      {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) 
{
  @return map-get($theme-map, $key);
}

@mixin themed 
{
  @include themify($themes) 
  {
    $text: themed("text") !global;
    $back: themed("back") !global;
    @content;
  }
}

@include themed 
{
  background: themed("backgroundColour");
  color: themed("textColour");
  text-shadow: themed('TRONGlowTextGlobal');
}

@include themed 
{
  // Global
  a 
  {
    background: themed("anchorColour");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a:hover 
  {
    background: themed("anchorColourHover");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: themed('TRONGlowAnchorColourHover');
  }

  code
  {
    background: themed("codeBackground");
    border-right: themed("codeBorderRight");
    box-shadow: themed("codeBoxShadow");
    --tab-border-bottom-color: themed("codeTabBorderBottomColour");
  }

  pre > code
  {
    background: none;
    box-shadow: none;
  }

  // Headings
  h1, h2, h3 
  {
    background: themed("hsColour");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h4 
  {
    background: themed("h4Colour");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  li::before 
  {
    background: themed("liBeforeColour");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: themed('TRONGlowLiBeforeColour');
  }

  // Main Navigator
  .navigator
  {
    background: themed("navBackground");
    border-image: themed("navBorderImage");
    border-image-slice: 1;
  }

  .navigator > ul > li a, 
  .navigator > ul > li .dropdown__title 
  {
    background: themed("navTextColour");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navigator > ul > li > ul > li > a
  {
    background: themed("dropdowmMenuTextColour");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navigator > ul > li a:hover,
  .navigator > ul > li .dropdown__title:hover
  {
    background: themed("navTextHoverColour");
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: themed("dropdowmLineHoverTextColour");
    border-image-slice: 1;
  }

  // Main Navigator – DropDown Menu
  .dropdown:after
  {
    border-bottom-color: themed("dropdowmMenuBackgroundArrow");
  }
  
  .dropdown .dropdown__menu
  {
    background: themed("dropdowmMenuBackground");
  }

  .dropdown .dropdown__menu a:hover
  {
    background: themed("dropdowmMenuHoverBackground");
    color: themed("dropdowmMenuHoverTextColour");
    -webkit-text-fill-color: themed("dropdowmMenuHoverTextColour");
    text-shadow: none;
  }

  .dropdown:hover .dropdown__title,
  .dropdown:focus-within .dropdown__title
  {
    border-top: 3px solid transparent;
    border-image: themed("dropdowmLineHoverTextColour");
    border-image-slice: 1;
  }

  .active 
  {
    background: themed("activeAnchor") !important;
    color: themed("activeColor") !important;
    -webkit-transition: all 200ms ease-out !important;
    -moz-transition: all 200ms ease-out !important;
    -ms-transition: all 200ms ease-out !important;
    -o-transition: all 200ms ease-out !important;
    transition: all 200ms ease-out !important;
    -webkit-text-fill-color: themed("activeColor") !important;
    text-shadow: none !important;
  }

  // Table
  table 
  {
    background: themed("tableBackground");
  }

  table thead tr 
  {
    background: themed("tableTheadBackground");
    color: themed("tableTheadTextColour");
  }

  table tbody tr 
  {
    border-bottom: 1px solid themed("tableTbodyBorder");
  }

  tbody th 
  {
    background: themed("tableTbodyTh");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: themed('TRONGlowTableTbodyTh');
  }

  table tbody tr td:first-child
  {
    text-shadow: themed('TRONGlowTableTbodyTh');
  }

  // Syntax Highlighting
  .highlight
  {
    background: themed('HighlightBg');
  }


  // Footer

  #footer 
  {
    background: themed("footerBackground");
    border-top: 4px solid transparent;
    border-image: themed("footerBorderImage");
    border-image-slice: 1;
  }
}
