.dropdown__title
{
  background-color: transparent;
  border: none;
  font-family: inherit;
}

button.dropdown__title.icones
{
  width: 60px;
}

.navigator
{
  background: var(--suru-plus-papirus);
  border-bottom: 4px solid transparent;
  border-image: var(--suru-plus-fitdance-1-bottom);
  border-image-slice: 1;
  display: grid;
  padding: 0 1rem;
  place-items: center;
  position: sticky;
  top: 0;
}

.navigator> ul
{
  grid-auto-flow: column;
}

.navigator> ul> li
{
  margin: 0 0.5rem 0 0.5rem;
}

.navigator> ul> li a,
.navigator> ul> li .dropdown__title
{
  background: var(--suru-plus-fitdance-1-bottom);
          background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}

.navigator> ul> li a:focus,
.navigator> ul> li .dropdown__title:focus
{
  outline: none;
}

.navigator> ul> li> a,
.navigator> ul> li .dropdown__title
{
  padding: 1rem 0.5rem;
  border-top: 3px solid transparent;
  transition: 280ms all 120ms ease-out;
}

.navigator> ul> li> a.icon,
.navigator> ul> li .dropdown__title.icon
{
  width: 100px;
}

.navigator> ul> li> a:hover,
.navigator> ul> li> a:focus,
.navigator> ul> li .dropdown__title:hover,
.navigator> ul> li .dropdown__title:focus
{
  background-image: var(--suru-plus-sunrise-1-top);
  font-weight: 800;
          background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: var(--suru-plus-sunrise-1-right);
  border-image-slice: 1;
}

.navigator ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.navigator ul li
{
  padding: 0;
}

.dropdown
{
  position: relative;
}

.dropdown .dropdown__title
{
  display: inline-flex;
  align-items: center;
}

.dropdown .dropdown__title:after
{
  content: "";
  border: 0.45rem solid transparent;
  border-top-color: rgba(185, 244, 255, 0.45);
  margin-left: 0.4em;
  position: relative;
  top: 10px;
}

.dropdown .dropdown__menu
{
  position: absolute;
  min-width: 15ch;
  left: 50%;
  top: calc(100% - 0.25rem);
  transition: 280ms all 120ms ease-out;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  visibility: hidden;
  opacity: 0.3;
  padding: 0.5em 0;
  background-color: var(--suru-plus-papirus-light-solid);
  border-radius: 4px;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
}

.dropdown .dropdown__menu a
{
  display: block;
  padding: 0.5em;
  opacity: 0;
  transition: 280ms all 120ms ease-out;
}

.dropdown .dropdown__menu a:hover
{
  background: var(--suru-plus-fitdance-1);
  color: var(--suru-plus-papirus-light-solid);
  -webkit-transition: all 200ms ease-out;
     -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
       -o-transition: all 200ms ease-out;
          transition: all 200ms ease-out;
  -webkit-text-fill-color: var(--suru-plus-papirus-light-solid);
}

.dropdown .dropdown__menu a:focus
{
  outline: none;
  background: var(--suru-plus-mavericks-top);
}

.dropdown:after
{
  content: "";
  border: 0.5rem solid transparent;
  border-bottom-color: #FFFFFF;
  position: absolute;
  top: calc(100% - 1.25rem);
  left: 50%;
  transform: translateX(-50%);
  transition: 280ms all 120ms ease-out;
  opacity: 0;
  will-change: opacity;
}

.dropdown:hover .dropdown__title,
.dropdown:focus-within .dropdown__title
{
  border-top: 3px solid transparent;
  border-image: var(--suru-plus-fitdance-1-left);
  border-image-slice: 1;
}

.dropdown:hover .dropdown__menu,
.dropdown:focus-within .dropdown__menu
{
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}

.dropdown:hover .dropdown__menu a,
.dropdown:focus-within .dropdown__menu a
{
  opacity: 1;
}

.dropdown:hover:after,
.dropdown:focus-within:after
{
  opacity: 1;
}

.active
{
  background: var(--suru-plus-sunrise-1-top) !important;
  color: var(--suru-plus-papirus-light-solid) !important;
  -webkit-transition: all 200ms ease-out !important;
     -moz-transition: all 200ms ease-out !important;
      -ms-transition: all 200ms ease-out !important;
       -o-transition: all 200ms ease-out !important;
          transition: all 200ms ease-out !important;
  -webkit-text-fill-color: var(--suru-plus-papirus-light-solid) !important;
}

/*# sourceMappingURL=header.css.map */
