@media only screen and (min-width: 1920px)
{

}

@media only screen and (max-width: 1440px)
{

}

@media only screen and (min-width: 1440px)
{
}

@media only screen and (max-width: 1024px)
{

}

@media only screen and (max-width: 800px)
{

}

@media only screen and (max-width: 780px)
{
}

@media only screen and (max-width: 640px)
{

}

@media only screen and (max-width: 600px)
{
  #footer > p
  {
    hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    line-height: 24px;
  }

  #footer-menu li 
  {
    line-height: 24px;
  } 
}

@media only screen and (max-width: 540px)
{

}

@media only screen and (max-width: 425px)
{

}

/* Xiaomi Redmi Note 7 – Portrato */
@media only screen and (max-width: 395px)
{

}

@media only screen and (max-width: 384px)
{

}

@media only screen and (max-width: 375px)
{

}

@media only screen and (max-width: 320px)
{

}

@media only screen and (max-width: 280px)
{

}

@media only screen and (max-width: 240px)
{
  
}