{{range .Resources.Match "images/*"}} {{end}}

{{ if .IsTranslated }}

{{/*  Desktop  */}}

<nav class="navigator" aria-label="Main Navigation">
  <ul>
    {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
          {{ $menu_item_url := .URL | relLangURL -}}
          {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
        <li><a class="{{ if eq $menu_item_url $page_url }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
    {{- end }}

    <li class="dropdown">
      <!-- 🇬🇧 The “aria-expanded” needs managed with JavaScript -->
      <!-- 🇧🇷 O elemento “aria-expanded” precisa ser gerenciado com JavaScript -->
      <!-- 🇮🇹 L’elemento «aria-expanded» deve essere gestito con JavaScript -->
      <!-- 🇫🇷 L'élément « aria-expanded » doit être géré avec JavaScript -->
      <button aria-controls="themes-dropdown" aria-expanded="false" aria-label="themes list" class="dropdown__title icones" type="button">
        <span class="suru-theme"></span>
      </button>
      <ul class="dropdown__menu" id="sweets-dropdown">
        {{ range .Site.Params.Themes }}
          <li><a class="button theme-switch" id="{{ .data }}">{{ .name }}</a></li>
        {{ end }}
      </ul>
    </li>

    <li class="dropdown">
      <button aria-controls="languages-dropdown" aria-expanded="false" aria-label="languages list" class="dropdown__title icones" type="button">
        <span class="suru-languages"></span>
      </button>
      <ul class="dropdown__menu" id="sweets-dropdown">
        {{ range .Translations -}}
          <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
      </ul>
    </li>
  </ul>
</nav>

<nav class="sidenav" id="mainSideNav">
  <button id="closenav" class="closebtn" onclick="closeNav()" aria-label="Close Navigation Menu">Hey</button>
  {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
          {{ $menu_item_url := .URL | relLangURL -}}
          {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
        <a class="{{ if eq $menu_item_url $page_url }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
  {{- end }}
</nav>

<nav class="sidenav" id="SideNavThemes">
  <button id="closenav" class="closebtn" onclick="closeNavThemes()" aria-label="Close Navigation Menu">Hey</button>
  {{ range .Site.Params.Themes }}
    <a class="button theme-switch" id="{{ .data }}">{{ .name }}</a>
  {{ end }}
</nav>

<nav class="sidenav" id="SideNavLanguages">
  <button id="closenav" class="closebtn" onclick="closeNavLanguages()" aria-label="Close Navigation Menu">Hey</button>
  {{ range .Translations -}}
    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
  {{ end }}
</nav>

<nav class="navigator-mobile">
  <button id="main" onclick="openNav()" aria-label="Navigation Menu" aria-expanded="false">&#9776;</button>
  <div>
    <button id="main" onclick="openNavThemes()" aria-label="Navigation Menu" aria-expanded="false"><span class="suru-theme"></span></button>
    <button id="main" onclick="openNavLanguages()" aria-label="Navigation Menu" aria-expanded="false"><span class="suru-languages"></span></button>
  </div>
</nav>
{{ end }}