<!DOCTYPE html>
<html>
<head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta name="robots" content="noindex">
    <meta charset="utf-8"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url={{ .Permalink }}"/>
    </noscript>
    <script>
      const lang = navigator.language || navigator.userLanguage;
      const url = '{{ site.BaseURL | relURL }}'
      
      function detectLang(lang) 
      {

        // Let's lowerCase that string to normalize it, so we can compare it with others
        lang = lang.toLowerCase()
        const firstHalf = lang.split('-')[0]

        // A new supported language ? Just add it here.
        const supportedLanguages = ['en', 'de', 'es', 'fr', 'it', 'nl', 'pt-br', 'pt-pt']

        // If supportedLanguages contains your language, select it
        const finalLang = supportedLanguages.includes(lang) ? lang
          // Else, check just for the first half
          : supportedLanguages.includes(firstHalf) ? firstHalf
          // Otherwise, fallback to English
          : 'en'

        // Set the URL (uncomment that, that's for the snippet)
        window.location.href = url + finalLang

        // Return the final lang
        return finalLang
      }

      detectLang(lang);
    </script>
</head>
  <body>

    <h1>Rerouting</h1>
    <p>You should be rerouted in a jiff, if not, <a href="{{ .Permalink }}">click here</a>.</p>
    
  </body>
</html>
