#footer 
{
	background: var(--suru-plus-papirus);
	border-top: 4px solid transparent;
  border-image: var(--suru-plus-sunrise-1-right);
  border-image-slice: 1;
	color: var(--suru-plus-papirus-light-solid);
	font-size: 12px;
	padding: 1em;
  text-align: center;
  width: 100%;

  margin-top: auto; 
}

#footer .active
{
  border-radius: 2px;
  padding: 4px;
}

#footer > p
{
  text-align: center;
}

#footer-menu
{
	list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer-menu li
{
	display: inline;
}