{{ range .Site.Data.themes.icons }}
<h2>{{ .title }}</h2>

  {{ range .table.thead }}
  <table>

    <thead>
      <tr>
        {{ range .tr }}
        <th>{{ .th }}</th>
        {{ end }}
      </tr>
    </thead>

    {{ range .table.tbody }}
    <tbody>
      {{ range .tr }}
          {{ range .th }}
            <tr>
              <th>{{ . }}</th>
              <td>
                {{ range .td }}
                  <img alt="folder-{{ .th }}-{{ . }}" src="folder-{{ .th }}-{{ . }}.png">
                {{ end }}
              </td>
            </tr>
          {{ end }}
      {{ end }}
    </tbody>
    {{ end }}

  </table>
  {{ end }}

{{ end }}

<h2>Short Description off {{.Site.Data.User0123.Name}}: </h2>
<p>{{ index .Site.Data.User0123 "Short Description" | markdownify }}</p>

<h2>Adwaita&#43;&#43;</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>90ssummer</th>
      <td>
        <img alt="folder-90ssummer-apps" src="folder-90ssummer-apps.svg">
        <img alt="folder-90ssummer-documents" src="folder-90ssummer-documents.svg">
        <img alt="folder-90ssummer-downloads" src="folder-90ssummer-downloads.svg">
      </td>
    </tr>
    <tr>
      <th>aubergine</th>
      <td>
        <img alt="folder-aubergine-apps" src="folder-aubergine-apps.svg">
        <img alt="folder-aubergine-documents" src="folder-aubergine-documents.svg">
        <img alt="folder-aubergine-downloads" src="folder-aubergine-downloads.svg">
      </td>
    </tr>
    <tr>
      <th>aurora</th>
      <td>
        <img alt="folder-aurora-apps" src="folder-aurora-apps.svg">
        <img alt="folder-aurora-documents" src="folder-aurora-documents.svg">
        <img alt="folder-aurora-downloads" src="folder-aurora-downloads.svg">
      </td>
    </tr>
  </tbody>
</table>

<h2>Suru&#43;&#43;</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>90ssummer</th>
      <td>
        <img alt="folder-90ssummer-apps" src="folder-90ssummer-apps.svg">
        <img alt="folder-90ssummer-documents" src="folder-90ssummer-documents.svg">
        <img alt="folder-90ssummer-downloads" src="folder-90ssummer-downloads.svg">
      </td>
    </tr>
    <tr>
      <th>aubergine</th>
      <td>
        <img alt="folder-aubergine-apps" src="folder-aubergine-apps.svg">
        <img alt="folder-aubergine-documents" src="folder-aubergine-documents.svg">
        <img alt="folder-aubergine-downloads" src="folder-aubergine-downloads.svg">
      </td>
    </tr>
    <tr>
      <th>aurora</th>
      <td>
        <img alt="folder-aurora-apps" src="folder-aurora-apps.svg">
        <img alt="folder-aurora-documents" src="folder-aurora-documents.svg">
        <img alt="folder-aurora-downloads" src="folder-aurora-downloads.svg">
      </td>
    </tr>
  </tbody>
</table>