[class^=colour-]
{
 border-radius: 5px;
 box-shadow: inset 0px 4px 6px rgba(0, 0, 0, .25);
  float: left;
 height: 48px;
 margin: 10px;
 width: 48px;
}

.colour-1
{
  background: #ff0056;
}

.colour-2
{
  background: #b9f4ff;
}

.colour-3
{
  background: #5c616c;
}

.colour-4
{
  background: #ececec;
}

.colour-5
{
  background: #ffffff;
}

.colour-6
{
  background: #fede5d;
}

.colour-7
{
  background: #72f1b8;
}

.colour-8
{
  background: #36f9f6;
}

.colour-9
{
  background: #b6b1b1;
}

.colour-10
{
  background: #ff7edb;
}

.colour-11
{
  background: #2ee2fa;
}

.colour-12
{
  background: #03edf9;
}

.colour-13
{
  background: #b893ce;
}

.colour-14
{
  background: #ff8b39;
}

.colour-15
{
  background: #f97e72;
}

.colour-16
{
  background: #848bbd;
}

.colour-17
{
  background: #fe4450;
}

.colour-18
{
  background: #dd5500;
}

.colour-19
{
  background: #614d85;
}

.colour-20
{
  background: #495495;
}

.colour-21
{
  background: #444251;
}

.colour-22
{
  background: #463465;
}

.colour-23
{
  background: #880088;
}

.colour-24
{
  background: #34294f;
}

.colour-25
{
  background: #2a2139;
}

.colour-26
{
  background: #262335;
}

.colour-27
{
  background: #232530;
}

.colour-28
{
  background: #1f212b;
}

.colour-29
{
  background: #241b2f;
}

.colour-30
{
  background: #171520;
}

.colour-31
{
  background: #08080f;
}

.colour-32
{
  background: #fa6771;
}

.colour-33
{
  background: #afff8a;
}

.colour-34
{
  background: #f08df0;
}

.colour-35
{
  background: #a762a7;
}

.colour-36
{
  background: #7c5f7c;
}

.colour-37
{
  background: #230a35;
}

.colour-38
{
  background: #292752;
}

.colour-39
{
  background: #18173e;
}

.colour-40
{
  background: #f8fafa;
}

.colour-41
{
  background: #f9f9f9;
}

.colour-42
{
  background: #edeeee;
}

.colour-43
{
  background: #e9efef;
}

.colour-44
{
  background: #e0e1e1;
}

.colour-45
{
  background: #d8e3e3;
}

.colour-46
{
  background: #d2d3d3;
}

.colour-47
{
  background: #c7d6d6;
}

.colour-48
{
  background: #c2c4c4;
}

.colour-49
{
  background: #b4c8c8;
}

.colour-50
{
  background: #b1b3b3;
}

.colour-51
{
  background: #9eb8b8;
}

.colour-52
{
  background: #a9a79e;
}

.colour-53
{
  background: #9da0a0;
}

.colour-54
{
  background: #85a6a6;
}

.colour-55
{
  background: #1ccb83;
}

.colour-56
{
  background: #45a4b3;
}

.colour-57
{
  background: #868a8a;
}

.colour-58
{
  background: #689090;
}

.colour-59
{
  background: #74796d;
}

.colour-60
{
  background: #686d6d;
}

.colour-61
{
  background: #427474;
}

.colour-62
{
  background: #a53520;
}

.colour-63
{
  background: #1a676c;
}

.colour-64
{
  background: #a0311e;
}

.colour-65
{
  background: #035d67;
}

.colour-66
{
  background: #3a4141;
}

.colour-67
{
  background: #553229;
}

.colour-68
{
  background: #004853;
}

.colour-69
{
  background: #044747;
}

.colour-70
{
  background: #014445;
}

.colour-71
{
  background: #013839;
}

.colour-72
{
  background: #0f3228;
}

.colour-73
{
  background: #342218;
}

.colour-74
{
  background: #03333d;
}

.colour-75
{
  background: #0d2c33;
}

.colour-76
{
  background: #002f32;
}

.colour-77
{
  background: #012b2e;
}

.colour-78
{
  background: #011e21;
}

.colour-79
{
  background: #021d22;
}

.colour-80
{
  background: #001c23;
}

.colour-81
{
  background: #051417;
}

.colour-82
{
  background: #0e0e0f;
}

.colour-83
{
  background: linear-gradient(180deg, #ff7b57 0%, #ff5151 50%, #f50f0f 100%);
}

.colour-84
{
  background: linear-gradient(180deg, #ff9757 0%, #ff6e51 50%, #f5350f 100%);
}

.colour-85
{
  background: linear-gradient(180deg, #ffb357 0%, #ff8b51 50%, #f55c0f 100%);
}

.colour-86
{
  background: linear-gradient(180deg, #ffd057 0%, #ffa851 50%, #f5820f 100%);
}

.colour-87
{
  background: linear-gradient(180deg, #ffec57 0%, #ffc551 50%, #f5a90f 100%);
}

.colour-88
{
  background: linear-gradient(180deg, #f7ff57 0%, #ffe251 50%, #f5cf0f 100%);
}

.colour-89
{
  background: linear-gradient(180deg, #a3ff57 0%, #c5ff51 50%, #a9f50f 100%);
}

.colour-90
{
  background: linear-gradient(180deg, #6aff57 0%, #8bff51 50%, #5cf50f 100%);
}

.colour-91
{
  background: linear-gradient(180deg, #57ff7b 0%, #51ff51 50%, #0ff50f 100%);
}

.colour-92
{
  background: linear-gradient(180deg, #57ffb3 0%, #51ff8b 50%, #0ff55c 100%);
}

.colour-93
{
  background: linear-gradient(180deg, #57ffec 0%, #51ffc5 50%, #0ff5a9 100%);
}

.colour-94
{
  background: linear-gradient(180deg, #57dbff 0%, #51ffff 50%, #0ff5f5 100%);
}

.colour-95
{
  background: linear-gradient(180deg, #5786ff 0%, #51a8ff 50%, #0f82f5 100%);
}

.colour-96
{
  background: linear-gradient(180deg, #ec57ff 0%, #c551ff 50%, #a90ff5 100%);
}

.colour-97
{
  background: linear-gradient(180deg, #ff57db 0%, #ff51ff 50%, #f50ff5 100%);
}

.colour-98
{
  background: linear-gradient(180deg, #ff57a3 0%, #ff51c5 50%, #f50fa9 100%);
}

.colour-99
{
  background: linear-gradient(180deg, #ff576a 0%, #ff518b 50%, #f50f5c 100%);
}

.colour-100
{
  background: linear-gradient(180deg, #ff6d57 0%, #ff5160 50%, #f50f22 100%);
}

.colour-101
{
  background: linear-gradient(180deg, #ff4400 0%, #dc1414 100%);
}

.colour-102
{
  background: linear-gradient(180deg, #ff6e00 0%, #dc3514 100%);
}

.colour-103
{
  background: linear-gradient(180deg, #ff9900 0%, #dc5714 100%);
}

.colour-104
{
  background: linear-gradient(180deg, #ffc400 0%, #dc7814 100%);
}

.colour-105
{
  background: linear-gradient(180deg, #ffee00 0%, #dc9914 100%);
}

.colour-106
{
  background: linear-gradient(180deg, #e6ff00 0%, #dcba14 100%);
}

.colour-107
{
  background: linear-gradient(180deg, #66ff00 0%, #99dc14 100%);
}

.colour-108
{
  background: linear-gradient(180deg, #11ff00 0%, #57dc14 100%);
}

.colour-109
{
  background: linear-gradient(180deg, #00ff44 0%, #14dc14 100%);
}

.colour-110
{
  background: linear-gradient(180deg, #00ff99 0%, #14dc57 100%);
}

.colour-111
{
  background: linear-gradient(180deg, #00ffee 0%, #14dc99 100%);
}

.colour-112
{
  background: linear-gradient(180deg, #00bbff 0%, #14dcdc 100%);
}

.colour-113
{
  background: linear-gradient(180deg, #003bff 0%, #1478dc 100%);
}

.colour-114
{
  background: linear-gradient(180deg, #ee00ff 0%, #9914dc 100%);
}

.colour-115
{
  background: linear-gradient(180deg, #ff00bb 0%, #dc14dc 100%);
}

.colour-116
{
  background: linear-gradient(180deg, #ff0066 0%, #dc1499 100%);
}

.colour-117
{
  background: linear-gradient(180deg, #ff0011 0%, #dc1457 100%);
}

.colour-118
{
  background: linear-gradient(180deg, #ff2e00 0%, #dc1425 100%);
}

.colour-119
{
  background: linear-gradient(180deg, #d1391f 0%, #ff0000 100%);
}

.colour-120
{
  background: linear-gradient(180deg, #d1571f 0%, #ff2a00 100%);
}

.colour-121
{
  background: linear-gradient(180deg, #d1751f 0%, #ff5500 100%);
}

.colour-122
{
  background: linear-gradient(180deg, #d1931f 0%, #ff7f00 100%);
}

.colour-123
{
  background: linear-gradient(180deg, #d1b01f 0%, #ffaa00 100%);
}

.colour-124
{
  background: linear-gradient(180deg, #d1ce1f 0%, #ffd500 100%);
}

.colour-125
{
  background: linear-gradient(180deg, #7bd11f 0%, #aaff00 100%);
}

.colour-126
{
  background: linear-gradient(180deg, #3fd11f 0%, #55ff00 100%);
}

.colour-127
{
  background: linear-gradient(180deg, #1fd139 0%, #00ff00 100%);
}

.colour-128
{
  background: linear-gradient(180deg, #1fd175 0%, #00ff55 100%);
}

.colour-129
{
  background: linear-gradient(180deg, #1fd1b0 0%, #00ffaa 100%);
}

.colour-130
{
  background: linear-gradient(180deg, #1fb6d1 0%, #00ffff 100%);
}

.colour-131
{
  background: linear-gradient(180deg, #1f5dd1 0%, #007fff 100%);
}

.colour-132
{
  background: linear-gradient(180deg, #b01fd1 0%, #aa00ff 100%);
}

.colour-133
{
  background: linear-gradient(180deg, #d11fb6 0%, #ff00ff 100%);
}

.colour-134
{
  background: linear-gradient(180deg, #d11f7b 0%, #ff00aa 100%);
}

.colour-135
{
  background: linear-gradient(180deg, #d11f3f 0%, #ff0055 100%);
}

.colour-136
{
  background: linear-gradient(180deg, #d12b1f 0%, #ff0015 100%);
}

.colour-137
{
  background: linear-gradient(180deg, #4b4343 0%, #332d2d 100%);
}

.colour-138
{
  background: linear-gradient(180deg, #4b4643 0%, #332f2d 100%);
}

.colour-139
{
  background: linear-gradient(180deg, #4b4743 0%, #33302d 100%);
}

.colour-140
{
  background: linear-gradient(180deg, #4b4943 0%, #33312d 100%);
}

.colour-141
{
  background: linear-gradient(180deg, #4b4a43 0%, #33322d 100%);
}

.colour-142
{
  background: linear-gradient(180deg, #494b43 0%, #31332d 100%);
}

.colour-143
{
  background: linear-gradient(180deg, #464b43 0%, #2f332d 100%);
}

.colour-144
{
  background: linear-gradient(180deg, #434b43 0%, #2d332d 100%);
}

.colour-145
{
  background: linear-gradient(180deg, #434b46 0%, #2d332f 100%);
}

.colour-146
{
  background: linear-gradient(180deg, #434b49 0%, #2d3331 100%);
}

.colour-147
{
  background: linear-gradient(180deg, #434b4b 0%, #2d3333 100%);
}

.colour-148
{
  background: linear-gradient(180deg, #43474b 0%, #2d3033 100%);
}

.colour-149
{
  background: linear-gradient(180deg, #49434b 0%, #312d33 100%);
}

.colour-150
{
  background: linear-gradient(180deg, #4b434b 0%, #332d33 100%);
}

.colour-151
{
  background: linear-gradient(180deg, #4b4349 0%, #332d31 100%);
}

.colour-152
{
  background: linear-gradient(180deg, #4b4346 0%, #332d2f 100%);
}

.colour-153
{
  background: linear-gradient(180deg, #4b4344 0%, #332d2e 100%);
}

.colour-154
{
  background: linear-gradient(180deg, #665252 0%, #4e3636 100%);
}

.colour-155
{
  background: linear-gradient(180deg, #665852 0%, #4e3e36 100%);
}

.colour-156
{
  background: linear-gradient(180deg, #665c52 0%, #4e4236 100%);
}

.colour-157
{
  background: linear-gradient(180deg, #665f52 0%, #4e4636 100%);
}

.colour-158
{
  background: linear-gradient(180deg, #666252 0%, #4e4a36 100%);
}

.colour-159
{
  background: linear-gradient(180deg, #5f6652 0%, #464e36 100%);
}

.colour-160
{
  background: linear-gradient(180deg, #586652 0%, #3e4e36 100%);
}

.colour-161
{
  background: linear-gradient(180deg, #526652 0%, #364e36 100%);
}

.colour-162
{
  background: linear-gradient(180deg, #526655 0%, #364e3a 100%);
}

.colour-163
{
  background: linear-gradient(180deg, #526658 0%, #364e3e 100%);
}

.colour-164
{
  background: linear-gradient(180deg, #52665f 0%, #364e46 100%);
}

.colour-165
{
  background: linear-gradient(180deg, #526666 0%, #364e4e 100%);
}

.colour-166
{
  background: linear-gradient(180deg, #525c66 0%, #36424e 100%);
}

.colour-167
{
  background: linear-gradient(180deg, #5f5266 0%, #46364e 100%);
}

.colour-168
{
  background: linear-gradient(180deg, #665266 0%, #4e364e 100%);
}

.colour-169
{
  background: linear-gradient(180deg, #66525f 0%, #4e3646 100%);
}

.colour-170
{
  background: linear-gradient(180deg, #665258 0%, #4e363e 100%);
}

.colour-171
{
  background: linear-gradient(180deg, #665253 0%, #4e3638 100%);
}

.colour-172
{
  background: linear-gradient(180deg, #526060 0%, #4c4c4c 100%);
}

.colour-173
{
  background: linear-gradient(180deg, #545e63 0%, #343b40 100%);
}

.colour-174
{
  background: linear-gradient(180deg, #4c5561 0%, #2e3842 100%);
}

.colour-175
{
  background: linear-gradient(180deg, #2b2e30 0%, #1e1f1f 100%);
}

.colour-176
{
  background: linear-gradient(180deg, #bdc3c7 0%, #aeafb3 100%);
}

.colour-177
{
  background: linear-gradient(180deg, #e0e5e7 0%, #c7ced2 100%);
}

.colour-178
{
  background: linear-gradient(180deg, #dedede 0%, #a1a1a1 100%);
}

.colour-179
{
  background: linear-gradient(180deg, #c8c4b7 0%, #ada694 100%);
}

.colour-180
{
  background: linear-gradient(359.24deg, #a0a0a0 .54%, #dfdfdf 99.25%);
}

.colour-181
{
  background: linear-gradient(358.48deg, #bfc1c1 2.21%, #f1f2f3 97.09%);
}

.colour-182
{
  background: linear-gradient(180deg, #edc268 0%, #9b7424 100%);
}

.colour-183
{
  background: linear-gradient(180deg, #00ccda 0%, #0083ff 14.29%, #007af9 28.57%, #0060e8 42.86%, #005fe7 57.14%, #2639ad 71.43%, #401e84 85.71%, #4a1475 100%);
}

.colour-184
{
  background: linear-gradient(180deg, #00a7fd 0%, #9914dc 100%);
}

.colour-185
{
  background: linear-gradient(180deg, #ad4f8d 0%, #6b8ccb 100%);
}

.colour-186
{
  background: linear-gradient(180deg, #01bcc7 0%, #2954ef 100%);
}

.colour-187
{
  background: linear-gradient(180deg, #79dd00 0%, #6ddb0a 10%, #61d915 20%, #55d620 30%, #49d42b 40%, #3cd235 50%, #30cf40 60%, #24cd4b 70%, #18ca56 80%, #0cc861 90%, #00c66b 100%);
}

.colour-188
{
  background: linear-gradient(180.45deg, #ffeb00 .55%, #ffa100 100.55%);
}

.colour-189
{
  background: linear-gradient(180.85deg, #1ad6ab .10%, #329db6 100%);
}

.colour-190
{
  background: linear-gradient(180deg, #d0391f 0%, #ff005d 100%);
}

.colour-191
{
  background: linear-gradient(180deg, #e6548b 0%, #f76363 100%);
}

.colour-192
{
  background: linear-gradient(360deg, #957552 0%, #b29373 100%);
}

.colour-193
{
  background: linear-gradient(360deg, rgba(197, 141, 103, .95) 0%, rgba(230, 170, 129, .95) 100%);
}

.colour-194
{
  background: linear-gradient(180deg, #16a085 0%, #663579 100%);
}

.colour-195
{
  background: linear-gradient(180.85deg, #07b3ff .50%, #007de8 95%);
}

.colour-196
{
  background: linear-gradient(180deg, #46a926 0%, #009a56 100%);
}

.colour-197
{
  background: linear-gradient(180deg, #00f260 0%, #0575e6 100%);
}

.colour-198
{
  background: linear-gradient(180deg, #a6d74f 0%, #76c22b 100%);
}

.colour-199
{
  background: linear-gradient(180deg, #49535e 0%, #2f3943 100%);
}

.colour-200
{
  background: linear-gradient(360deg, #5b2f00 0%, #ff8000 100%);
}

.colour-201
{
  background: linear-gradient(0deg, #ff0056 0%, #ff0c4e 10%, #ff1845 20%, #ff243d 30%, #ff3034 40%, #ff3c2b 50%, #ff4823 60%, #ff541a 70%, #ff6012 80%, #ff6c09 90%, #ff7901 100%);
}

.colour-202
{
  background: linear-gradient(180deg, #ff6e00 0%, #ef002b 100%);
}

.colour-203
{
  background: linear-gradient(180deg, #ff4500 0%, #dc153b 100%);
}

.colour-204
{
  background: linear-gradient(0deg, #037164 0%, #00ac98 100%);
}

.colour-205
{
  background: linear-gradient(180deg, #31c6b7 0%, #2b898f 100%);
}

.colour-206
{
  background: linear-gradient(180deg, #d1313e 0%, #a9344f 50%, #6b3274 100%);
}

.colour-207
{
  background: linear-gradient(180deg, #002f32 0%, #0e0e0f 100%);
}

.colour-208
{
  background: linear-gradient(180deg, #004853 0%, #0e0e0f 100%);
}

.colour-209
{
  background: linear-gradient(180deg, #013839 0%, #0e0e0f 100%);
}

.colour-210
{
  background: linear-gradient(180deg, #014445 0%, #0e0e0f 100%);
}

.colour-211
{
  background: linear-gradient(180deg, #035d67 0%, #002f32 100%);
}

.colour-212
{
  background: linear-gradient(180deg, #035d67 0%, #0e0e0f 100%);
}

.colour-213
{
  background: linear-gradient(180deg, #1a676c 0%, #0e0e0f 100%);
}

.colour-214
{
  background: linear-gradient(180deg, #342218 0%, #002f32 100%);
}

.colour-215
{
  background: linear-gradient(180deg, #342218 0%, #0e0e0f 100%);
}

.colour-216
{
  background: linear-gradient(180deg, #3a4141 0%, #002f32 100%);
}

.colour-217
{
  background: linear-gradient(180deg, #3a4141 0%, #342218 100%);
}

.colour-218
{
  background: linear-gradient(180deg, #3a4141 0%, #0e0e0f 100%);
}

.colour-219
{
  background: linear-gradient(180deg, #427474 0%, #342218 100%);
}

.colour-220
{
  background: linear-gradient(180deg, #427474 0%, #002f32 100%);
}

.colour-221
{
  background: linear-gradient(180deg, #45a4b3 0%, #0e0e0f 100%);
}

.colour-222
{
  background: linear-gradient(180deg, #45a4b3 0%, #342218 100%);
}

.colour-223
{
  background: linear-gradient(180deg, #553229 0%, #002f32 100%);
}

.colour-224
{
  background: linear-gradient(180deg, #553229 0%, #0e0e0f 100%);
}

.colour-225
{
  background: linear-gradient(180deg, #a0311e 0%, #342218 100%);
}

.colour-226
{
  background: linear-gradient(180deg, #a0311e 0%, #0e0e0f 100%);
}

.colour-227
{
  background: linear-gradient(180deg, #a0311e 0%, #002f32 100%);
}

.colour-228
{
  background: linear-gradient(360deg, #000828 0%, #040f38 100%);
}

.colour-229
{
  background: linear-gradient(180deg, #494b43 0%, #31332d 100%);
}

.colour-230
{
  background: linear-gradient(180deg, #141414 0%, #003c21 100%);
}

.colour-231
{
  background: linear-gradient(180deg, #280007 0%, #3c000a 100%);
}

.colour-232
{
  background: linear-gradient(180deg, #230028 0%, #5c0f7d 100%);
}

.colour-233
{
  background: linear-gradient(180deg, #141414 0%, #28000e 100%);
}

.colour-234
{
  background: linear-gradient(to bottom, #2a2139 75%, #34294f);
}

.colour-235
{
  background: linear-gradient(to bottom, #fff951 25%, #fc28a8);
}

.colour-236
{
  background: linear-gradient(to right, #fc28a8 0%, #03edf9 100%);
}

.colour-237
{
  background: linear-gradient(rgba(73, 83, 94, .80), rgba(47, 57, 67, .80));
}

.colour-238
{
  background: linear-gradient(rgba(73, 83, 94, .85), rgba(47, 57, 67, .85));
}

.colour-239
{
  background: linear-gradient(rgba(73, 83, 94, .90), rgba(47, 57, 67, .90));
}

.colour-240
{
  background: linear-gradient(to bottom, #79dd00 0%, #6ddb0a 10%, #61d915 20%, #55d620 30%, #49d42b 40%, #3cd235 50%, #30cf40 60%, #24cd4b 70%, #18ca56 80%, #0cc861 90%, #00c66b 100%);
}

.colour-241
{
  background: linear-gradient(to top, #79dd00 0%, #6ddb0a 10%, #61d915 20%, #55d620 30%, #49d42b 40%, #3cd235 50%, #30cf40 60%, #24cd4b 70%, #18ca56 80%, #0cc861 90%, #00c66b 100%);
}

.colour-242
{
  background: linear-gradient(to bottom, #1ad6ab, #00c9b7, #00bbbd, #00acbc, #329db6);
}

.colour-243
{
  background: linear-gradient(to top, #1ad6ab, #00c9b7, #00bbbd, #00acbc, #329db6);
}

.colour-244
{
  background: linear-gradient(to right, #00f260 0%, #0575e6 100%);
}

.colour-245
{
  background: linear-gradient(to bottom, #00f260 0%, #0575e6 100%);
}

.colour-246
{
  background: linear-gradient(to bottom, #00f260 0%, #0575e6 100%);
}

.colour-247
{
  background: linear-gradient(to right, #ff0056, #ff3146, #ff4c34, #ff6421, #ff7901);
}

.colour-248
{
  background: linear-gradient(to top, #ff0056, #ff3146, #ff4c34, #ff6421, #ff7901);
}

.colour-249
{
  background: linear-gradient(to top, #fff951, #fc28a8 0%);
}

.colour-250
{
  background: linear-gradient(to bottom, #03edf9 25%, #fc28a7);
}

.colour-251
{
  background: linear-gradient(to right, #b9ffee, #b9f4ff);
}

/*# sourceMappingURL=Tabela%20de%20Cores.css.map */